In [78]:
import mido
import matplotlib.pyplot as plt 
import pandas as pd

In [79]:
midi_data = mido.MidiFile("./twinkle_twinkle.mid")

In [80]:
midi_data = mido.MidiFile("./StreamOfConsciousness.mid")

In [81]:
song_time =0 # in seconds
group = 0
track_number =0
df_meta = pd.DataFrame(columns=["Track_No","Time_Signature_Numerator","Time_Signature_Denominator","Clocks_Per_Click","Key_Signature","Tempo","Track_Name","End_of_Track"])

df = pd.DataFrame(columns=["Group","Note_Type","Note_Value","Pause_Time","Velocity","Seek_Time"],)

In [87]:
# y = [x if  x.is_meta==True else "" for x in midi_data.tracks[0]]
# display(y)

## For the first track, only process tempo and time_signature as meta_messages
### Track 0 has only non-note data to used only to set time_signature and tempo
### Track 1+ have note_on and note_off and also have control_change, program_change,pitchwheel etc. The only meta messages they have are track name and end_of_track

In [83]:
meta_time=0
track_no=0
for track in midi_data.tracks:
    key="C"
    name="BASE HEADER"
    for msg in track:
        meta_time= msg.time
        if msg.is_meta:
            
            if msg.dict()["type"]=='time_signature':
                numerator=msg.dict()["numerator"]
                denominator=msg.dict()["denominator"]
                clocks_per_click=msg.dict()["clocks_per_click"]
            
            elif msg.dict()["type"]=='key_signature':
                key=msg.dict()["key"]
            elif msg.dict()["type"]=='set_tempo':
                tempo=msg.dict()["tempo"]
            
            
            elif msg.dict()["type"]=='track_name':
                name=msg.dict()["name"]
            elif msg.dict()["type"]=='text':
#             tempo=msg.dict()["tempo"]
                pass
            elif msg.dict()["type"]=='end_of_track':
                track_no+=1
            else:
                print(msg.dict())
            
            df_meta=df_meta.append({
#                 "Track_No": track_no,
                "Time_Signature_Numerator":numerator,
                "Time_Signature_Denominator":denominator,
                "Clocks_Per_Click":clocks_per_click,
                "Key_Signature":key,
                "Tempo":tempo,
                "Track_Name":name,
                "End_of_Track":True
                },ignore_index=True)

In [84]:

# display(df)

for msg in midi_data:
#     print(msg)
    song_time += msg.time
    if msg.dict()["type"]=="note_on" or msg.dict()["type"]=="note_off":
        
        if msg.dict()["time"]!=0:
            group+=1
#             print("Group : " + str(group))
        
        df=df.append({
            "Note_Type": str(msg.dict()["type"]),
            "Note_Value":str(msg.dict()["note"]),
            "Pause_Time":str(msg.dict()["time"]),
            "Velocity":str(msg.dict()["velocity"]),
            "Seek_Time":str(song_time),
            "Group": group,
            
        },
            ignore_index=True)
        
       
        
#         print ("Note Type : " +  msg.dict()["type"])
#         print( "Note : " +str(msg.dict()["note"]) ) 
#         print("Pause : " + str(msg.dict()["time"]) )
#         print( "Velocity :" + str(msg.dict()["velocity"]))
#         print("Time : " + str(song_time))
#         print("\n")      
    
        
    else:
        pass
#         print(msg)
        # Parse Control Change and Program Change for multi track midi

In [85]:

df

      Group Note_Type Note_Value Pause_Time Velocity          Seek_Time
0         0   note_on         49          0       95                  0
1         1  note_off         49  0.1271175       80           0.254235
2         1   note_on         57          0       95           0.254235
3         2  note_off         57  0.1271175       80            0.50847
4         2   note_on         56          0       95            0.50847
5         3  note_off         56  0.1271175       80           0.762705
6         3   note_on         57          0       95           0.762705
7         4  note_off         57   0.254235       80            1.01694
8         4   note_on         56          0       95            1.01694
9         5  note_off         56   0.254235       80           1.271175
10        5   note_on         49          0       95           1.271175
11        6  note_off         49   0.254235       80            1.52541
12        6   note_on         57          0       95            1.52541
13        7  note_off         57   0.254235       80           1.779645
14        7   note_on         49          0       95           1.779645
15        8  note_off         49   0.254235       80            2.03388
16        8   note_on         56          0       95            2.03388
17        9  note_off         56   0.254235       80           2.288115
18        9   note_on         57          0       95           2.288115
19       10  note_off         57   0.254235       80            2.54235
20       10   note_on         47          0       95            2.54235
21       11  note_off         47   0.254235       80           2.796585
22       11   note_on         57          0       95           2.796585
23       12  note_off         57   0.254235       80            3.05082
24       12   note_on         56          0       95            3.05082
25       13  note_off         56   0.254235       80           3.305055
26       13   note_on         57          0       95           3.305055
27       14  note_off         57   0.254235       80            3.55929
28       14   note_on         56          0       95            3.55929
29       15  note_off         56   0.254235       80           3.813525
...     ...       ...        ...        ...      ...                ...
26446  4620   note_on         49          0       95  679.9693525000201
26447  4621  note_off         49       0.25       80  680.2193525000201
26448  4621   note_on         57          0       95  680.2193525000201
26449  4622  note_off         57       0.25       80  680.4693525000201
26450  4622   note_on         49          0       95  680.4693525000201
26451  4623  note_off         49       0.25       80  680.7193525000201
26452  4623   note_on         56          0       95  680.7193525000201
26453  4624  note_off         56       0.25       80  680.9693525000201
26454  4624   note_on         57          0       95  680.9693525000201
26455  4625  note_off         57       0.25       80  681.2193525000201
26456  4625   note_on         47          0       95  681.2193525000201
26457  4626  note_off         47       0.25       80  681.4693525000201
26458  4626   note_on         57          0       95  681.4693525000201
26459  4627  note_off         57       0.25       80  681.7193525000201
26460  4627   note_on         56          0       95  681.7193525000201
26461  4628  note_off         56       0.25       80  681.9693525000201
26462  4628   note_on         57          0       95  681.9693525000201
26463  4629  note_off         57       0.25       80  682.2193525000201
26464  4629   note_on         56          0       95  682.2193525000201
26465  4630  note_off         56       0.25       80  682.4693525000201
26466  4630   note_on         47          0       95  682.4693525000201
26467  4631  note_off         47       0.25       80  682.7193525000201
26468  4631   note_on         57          0       95  682.7193525000201
26469  4632  note_off         57       0.25       80  682.9693525000201
26470  4632   note_on         47          0       95  682.9693525000201
26471  4633  note_off         47       0.25       80  683.2193525000201
26472  4633   note_on         56          0       95  683.2193525000201
26473  4634  note_off         56       0.25       80  683.4693525000201
26474  4634   note_on         57          0       95  683.4693525000201
26475  4635  note_off         57       0.25       80  683.7193525000201

[26476 rows x 6 columns]

In [88]:
df_meta # TO BE FIXED

,Track_No,Time_Signature_Numerator,Time_Signature_Denominator,Clocks_Per_Click,Key_Signature,Tempo,Track_Name,End_of_Track
0,NaN,4,4,24,C,508470,BASE HEADER,True
1,NaN,5,4,24,C,508470,BASE HEADER,True
2,NaN,5,4,24,C,480000,BASE HEADER,True
3,NaN,6,4,24,C,480000,BASE HEADER,True
4,NaN,5,4,24,C,480000,BASE HEADER,True
5,NaN,6,4,24,C,480000,BASE HEADER,True
6,NaN,5,4,24,C,480000,BASE HEADER,True
7,NaN,6,4,24,C,480000,BASE HEADER,True
8,NaN,5,4,24,C,480000,BASE HEADER,True
9,NaN,6,4,24,C,480000,BASE HEADER,True
10,NaN,5,4,24,C,480000,BASE HEADER,True
11,NaN,6,4,24,C,480000,BASE HEADER,True
12,NaN,5,4,24,C,480000,BASE HEADER,True
13,NaN,4,4,24,C,480000,BASE HEADER,True
14,NaN,5,8,24,C,480000,BASE HEADER,True
15,NaN,6,8,24,C,480000,BASE HEADER,True
16,NaN,5,8,24,C,480000,BASE HEADER,True
17,NaN,6,8,24,C,480000,BASE HEADER,True
18,NaN,5,8,24,C,480000,BASE HEADER,True
19,NaN,6,8,24,C,480000,BASE HEADER,True
20,NaN,5,8,24,C,480000,BASE HEADER,True
21,NaN,6,8,24,C,480000,BASE HEADER,True
22,NaN,4,4,24,C,480000,BASE HEADER,True
23,NaN,5,8,24,C,480000,BASE HEADER,True
24,NaN,6,8,24,C,480000,BASE HEADER,True
25,NaN,5,8,24,C,480000,BASE HEADER,True
26,NaN,6,8,24,C,480000,BASE HEADER,True
27,NaN,5,8,24,C,480000,BASE HEADER,True
28,NaN,6,8,24,C,480000,BASE HEADER,True
29,NaN,5,8,24,C,480000,BASE HEADER,True
...,...,...,...,...,...,...,...,...
109,NaN,6,4,24,C,606060,BASE HEADER,True
110,NaN,6,4,24,C,606060,BASE HEADER,True
111,NaN,6,4,24,C,612240,BASE HEADER,True
112,NaN,6,4,24,C,618550,BASE HEADER,True
113,NaN,6,4,24,C,618550,BASE HEADER,True
114,NaN,6,4,24,C,625000,BASE HEADER,True
115,NaN,6,4,24,C,631570,BASE HEADER,True
116,NaN,6,4,24,C,638290,BASE HEADER,True
117,NaN,6,4,24,C,638290,BASE HEADER,True
118,NaN,6,4,24,C,645160,BASE HEADER,True
119,NaN,6,4,24,C,652170,BASE HEADER,True
120,NaN,6,4,24,C,659340,BASE HEADER,True
121,NaN,6,4,24,C,659340,BASE HEADER,True
122,NaN,6,4,24,C,500000,BASE HEADER,True
123,NaN,5,4,24,C,500000,BASE HEADER,True
124,NaN,5,4,24,C,500000,BASE HEADER,True
125,NaN,5,4,24,C,500000,Guitar 1,True
126,NaN,5,4,24,C,500000,Guitar 1,True
127,NaN,5,4,24,C,500000,Guitar 2,True
128,NaN,5,4,24,C,500000,Guitar 2,True
129,NaN,5,4,24,C,500000,Guitar 3,True
130,NaN,5,4,24,C,500000,Guitar 3,True
131,NaN,5,4,24,C,500000,Bass,True
132,NaN,5,4,24,C,500000,Bass,True
133,NaN,5,4,24,C,500000,Keyboards,True
134,NaN,5,4,24,C,500000,Keyboards,True
135,NaN,5,4,24,C,500000,Piano,True
136,NaN,5,4,24,C,500000,Piano,True
137,NaN,5,4,24,C,500000,Percussion,True
138,NaN,5,4,24,C,500000,Percussion,True